In [3]:
import pandas as pd
import numpy as np
from scipy import stats

In [5]:
df = pd.DataFrame({"col":["abc","xyz","vvt","han","abc","xyz","vvt","fg"],
                "fees":[np.nan, 5000,np.nan,500,np.nan, 4500,np.nan,4500]})
df

   col    fees
0  abc     NaN
1  xyz  5000.0
2  vvt     NaN
3  han   500.0
4  abc     NaN
5  xyz  4500.0
6  vvt     NaN
7   fg  4500.0

In [7]:
stats.mode(df['fees'],nan_policy='omit')

ModeResult(mode=array([4500.]), count=array([2.]))